body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}
/*le style pour le header*/
header {
    background-color: #005792;
    color: white;
    padding: 10px 5px;
    text-align: center;
}

header h3 {
    margin: 0;
    font-size: 1.5em;
}

header h4 {
    margin: 5px 0;
    font-size: 1.2em;
}

header h5 {
    margin: 5px 0;
    font-size: 1em;
}
/* le style pour le contenu de la page d'accuiel */
.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    color: #005792;
    margin: 10px 0;
}

.content p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

.content img {
    width: 100px;
    height: auto;
    margin: 10px 20px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer h5 {
    font-size: 1em;
    margin: 5px 0;
}

footer p {
    font-size: 0.9em;
    margin: 2px 0;
}
#ufr {
    margin-bottom: 5px;
}
/* style pour tous les tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
}

table th {
    background-color: #005792;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f4f4f9;
}

table tr:hover {
    background-color: #d1e7fd;
}

table tr.selected {
    background-color: #a4c8e8;
}
.navbar {
    margin-top: auto; /* Place the navbar at the bottom */
    background-color: #005792;
    padding: 10px 0;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.navbar ul li a:hover {
    background-color: #1b2e45;
    color: #ffffff;
}
.navbar ul li a.active {
    background-color: #ff6600;
    color: #ffffff;
}